# Node
node_modules/
.next/
.env*

# Ruby/Rails
/log/
/tmp/
/db/*.sqlite3
/db/*.sqlite3-journal
/.bundle/
/vendor/bundle/
.byebug_history
backend/storage/*.sqlite3

# Ignore Rails backend cache and tmp files
backend/tmp/
backend/tmp/cache/

# System
.DS_Store
*.swp

# VSCode
.vscode/
